body {
    background-image: linear-gradient(rgba(176, 178, 255, 0.4), rgba(191, 211, 255, 0.4)), url(../../src/back.jpg);
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box {
    width: calc(50% - 20px);
    margin: 30px auto; /* Margine superiore e inferiore di 30px, centrato orizzontalmente */
    background-color: rgb(194, 178, 178); /* Sfondo bianco */
    padding: 30px;
    text-align: center;
    border-radius: 15px; /* Bordo stondato */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Ombra */
    cursor: pointer;
}
.box a{
    background-color: rgb(194, 178, 178);
    border-radius: none;
    border: none;
}

.box h2 {
    margin-top: 0;
}

.box p {
    margin-bottom: 0;
}

/* Altezza aggiornata per il riquadro "Le mie Schede" */
.box:nth-child(3) {
    height: 300px;
    margin-top: 20px; /* Aggiunto spazio in alto */
    margin-left: auto; /* Spostato verso destra */
    margin-right: auto; /* Spostato verso sinistra */
}

/* Regole per dispositivi mobili */
@media (max-width: 768px) {
    .box {
        width: calc(100% - 20px);
    }
}